# Core ML
transformers
datasets
open-clip-torch
huggingface-hub

# Vector DB
chromadb

# ML utilities
scikit-learn
haversine
numpy
Pillow

# API
fastapi
uvicorn
python-multipart
pydantic

# Utilities
tqdm
openai
python-dotenv
geopy
