# Core dependencies
torch
transformers
datasets
chromadb
scikit-learn
haversine
numpy
Pillow
open-clip
huggingface-hub
torchvision

# API dependencies
fastapi
uvicorn
python-multipart
pydantic

# Utilities
tqdm
openai
python-dotenv
